<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
{% extends "root.html" %}
{% block content %}
<body>
    <div class="platform">
        <h1>University of Technology Jamaica</h1>
        <h2>Flask</h2>
        <h2>1-April-2018</h2>
        <ul style="list-style-type: none">
            <li>Brent McWhinney 1303848</li>
            <li>Mikhail Shaw 1406944</li>
            <li>Stephen Hing 1306717</li>
            <li>Kimberley Whyte 1200728</li>
            <li>Daniel Webster 1300791</li>
        </ul>
    </div>

</body>
{% endblock %}
</html>