<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <title>LAMBDA CALCULUS</title>
	
</head>
<script>
    $(document).ready(function(){
        $('#btn').click(function(e){
            e.preventDefault()
            text = $('#expr').val();
            if(text.includes("(") || text.includes(")")){
                alert("String Should not include Brackets");
            }else{
                $(this).parent().submit();
            }
        })
    })
</script>
{% extends "root.html" %}
{% block content %}
<body>


<div class="platform">
        <br><br><br>
        <form action="{{ url_for("lambda_calc") }}" method="POST">
            Enter Simple Expression: <input type="text" name="data" class="enter" value="" id="expr"/>
            <input type="submit" value="Convert" id="btn"/>
        </form> 
        
        
        
        
        
        
        <!--
        <script type="text/javascript">
        function myFunction() {
            var text = document.getElementById('expr').value;
            
        var m = document.getElementById('expr').value;
        var x = eval(m)+ "<br>";
            
            
        document.getElementById("demo").innerHTML = "";
        document.getElementById("demo2").innerHTML = "";
        document.getElementById("demo3").innerHTML = "";
        document.getElementById("demo4").innerHTML = "";
        document.getElementById("demo5").innerHTML = "";
        
        
        
             var str = document.getElementById('expr').value;
            var n = str.includes("+");
            var op1;
            if (n==true) {
                op1 = "Addition:   λm.λn.λf.λx m f(n f x) ";
                 document.getElementById("demo").innerHTML = op1;
                
            } else {
                
            }
           
        
        
            
             var n1 = str.includes("-");
        
            if (n1==true) {
                op1 = "Subtraction:   λm.λn.n pred m";
                
                    document.getElementById("demo2").innerHTML = op1;
            } else {
             
            }
        
        
            
            
             var n1 = str.includes("*");
          
            if (n1==true) {
                op1 = "Multiply:   λm.λn.λf.λx.m(n f)x";
                    document.getElementById("demo3").innerHTML = op1;
            } else {
            
            }
        
        
            
            
             var n1 = str.includes("/");
            
            if (n1==true) {
                op1 = "Division:  (λn.((λf.(λx.x x) (λx.f (x x))) (λc.λn.λm.λf.λx.(λd.(λn.n (λx.(λa.λb.b)) (λa.λb.a)) d ((λf.λx.x) f x) (f (c d m f x))) ((λm.λn.n (λn.λf.λx.n (λg.λh.h (g f)) (λu.x) (λu.u)) m) n m))) ((λn.λf.λx. f (n f x)) n))";
                    document.getElementById("demo4").innerHTML = op1;
                    
                    
                    
                
                    
        
                    
            } else {
                
            }
        
        var find = ["0","1","2","3","4","5","6","7","8","9"];
        var replace = ['0-λf.λx.x. ','1-λf.λx.f x ','2-λf.λx.f(f x)','3-λf.λx.f(f(f x))','4-λf.λx.f(f(f(f x)))','5-λf.λx.f(f(f(f(f x))))','6-λf.λx.f(f(f(f(f(f x)))))','7-λf.λx.f(f(f(f(f(f(f x))))))','8-λf.λx.f(f(f(f(f(f(f(f x)))))))','9-λf.λx.f(f(f(f(f(f(f(f(f x))))))))'];
        
        
        
        text1 = replaceStr(str, find, replace);
        
            document.getElementById("demo5").innerHTML = text1;
                    
            function replaceStr(str, find, replace) {
            for (var i = 0; i < find.length; i++) {
                str = str.replace(new RegExp(find[i], 'gi'), replace[i]);
                str=str.replace(/[-&\/\\#,+$~%.'":*?<>]/g,'.');
            }
        
            return str;
        }
        
        
        var find = ["1","2","3","4","5","6","7","8","9",'0','10'];
        var replace = ['λa','λb','λc','λd','λe','λf','λg','λh','λi','λj','λk'];
        
        
        
        text = replaceStr(text, find, replace);
        
        
        console.log(text);
            
        
             document.getElementById("myText").innerHTML = text;
             
             document.getElementById("myText2").innerHTML = x;
        }
        </script>-->
        
        <h4>The Expression Converted to Lambda Calculus:  {% if data %}<span id="myText">{{data["t2"]}}</span>{% endif %}</h4>
        
        <h4>Natural Numbers Converted to Lambda(0-9): </h4>
        {% if data %}<p id="demo5">{{data["t1"]}}</p>{% endif %}
        
        
        <h4> Lambda Formula: </h4>
        {% if data %}
        <p id="demo">{{data["1"]}}</p>
        <p id="demo2">{{data["2"]}}</p>
        <p id="demo3">{{data["3"]}}</p>
        <p id="demo4">{{data["4"]}}</p>
        {% endif %}
        
        
        
        
        <h4>Result:  {% if data %}<span id="myText2">{{data["ex"]}}</span>{% endif %}</h4>
        
        
        
        
        <h6 align="center" style="color: red">
            Lambda Numberal Conversions only valid with numbers from the range 0-9 
            
        </h6>
        
        
        
        
</div>



</body>
{% endblock %}
</html>